RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/log/event/?$ index.php?action=log-event [QSA,L]
RewriteRule ^api/mac/([a-zA-Z0-9:]+)/change-pin/?$ index.php?mac=$1&action=change-pin [QSA,L]
RewriteRule ^api/mac/([a-zA-Z0-9:]+)/add-playlist/?$ index.php?mac=$1&action=add-playlist [QSA,L]
RewriteRule ^api/mac/([a-zA-Z0-9:]+)/lock/?$ index.php?mac=$1&changelock=true [QSA,L]
RewriteRule ^api/mac/([a-zA-Z0-9:]+)/?$ index.php?mac=$1 [QSA,L]
RewriteRule ^pin/?$ pin.php [QSA,L]
RewriteRule ^upload/?$ upload.php [QSA,L]